<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" (click)="openUserForm()">Register</button>
          </div>
          <div class="col-md-8">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div *ngIf="allUserList.length>0" class="col-12 col-md-4">
        <fieldset>
          <legend class="text-info">User List</legend>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="table-primary">
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Monthly Advertising Budget</th>
                  <th scope="col">Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of allUserList">
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.monthlyAdBudget}}</td>
                  <td>{{user.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>


<!-- <app-user></app-user> -->